/* Gaya kustom */

body {
    padding-top: 100px;
}
body {
    padding-top: 60px;
}
.card {
    margin-top: 20px;
}
.nav-link-text {
    margin-right: 15px; 
}

.nav-link {
    margin-right: 20px; 
}

.card-title {
    margin-bottom: 20px;
}

.logo-img {
    display: block;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.text-muted {
    color: #6c757d;
}

